* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
#sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #f1f914;
}

#sec2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 500px;
  background-color: #0fabf3;
}

#sec3 {
  width: 100%;
  height: 500px;
  background-color: #91ff6c;
}

#sec4 {
  width: 100%;
  height: 500px;
  background-color: #cb55f6;
}

#sec5 {
  width: 100%;
  height: 500px;
  background-color: #f45d9a;
}

#sec6 {
  width: 100%;
  height: 500px;
  background-color: #83f556;
}

#end {
  width: 100%;
  height: 100px;
  background-color: #f1f914;
}

.btnMenu {
  height: 40px;
  width: auto;
  background-color: #74ee4c;
  border-radius: 100%;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  color: brown;
}

button:hover {
  cursor: pointer;
  background-color: #b5e9a4;
  border: 5px black solid;
}

.btnColor{
  height: 40px;
  width: auto;
  background-color: #e81ec6;

  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  color: rgb(255, 206, 206);
}
.arrow {
  position: fixed;
  height: 30px;
  width: 30px;
  right: 15px;
  bottom: 15px;
}

.sec2-img{
  height: 100px;
}